<header class="page-header">
  <h1>Admin Dashboard</h1>
</header>

<div class="list-group">
  <a href="/admin/products" class="list-group-item">
    <span class="badge"><%= @products_count %>
    </span>
    Total Products
  </a>
  <a href="/admin/categories" class="list-group-item">
    <span class="badge"><%= @catagories_count %>
    </span>
    Total Categories
  </a>
</div>